version: "3.9"
services:
  db:
    image: pgvector/pgvector:pg16
    container_name: ai_catalog_db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: ai_catalog
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
